__pycache__/
celeri.egg-info/
UNKNOWN.egg-info/
output/
runs/
*.py[cod]
.ipynb_checkpoints
.DS_Store
*.png
*.jpg
*.pdf
*.log
*.npz
*.pkl
*.pickle
*.hdf
*.h5
*.hdf5
*.npy
*.npz
*.geo
mesh_test*
.jupyter/desktop-settings.json
.mypy_cache/
Untitled*.ipynb
*.parquet
local*.ipynb
