# This file is used by the pixi environment manager <https://pixi.sh>.
# It is equivalent to the `environment.yml`. The environment can be activated
# with the command `pixi shell`.

[project]
name = "celeri"
platforms = ["linux-64", "osx-64", "osx-arm64", "win-64"]
channels = ["conda-forge"]

[dependencies]
addict = ">=2.4.0"
colorcet = ">=3.1.0"
compilers = ">=1.9.0"
cutde = ">=25.7.24"
cvxopt = ">=1.3.2"
cvxpy = ">=1.5.3"
dill = ">=0.4.0"
fortran-compiler = ">=1.9.0"
ghostscript = ">=10.4.0"
gmsh = ">=4.13.1,<5"
h5py = ">=3.13.0"
ipympl = ">=0.9.7"
jupyterlab = ">=4.4.0"
lxml = ">=5.3.2"
matplotlib = ">=3.9.4"
meshio = ">=5.3.5"
numpy = ">=1.26.4"
pandas = ">=2.2.3"
pip = ">=25.0.1"
pygmt = ">=0.11.0"
pyproj = ">=3.6.1"
pytest = ">=8.3.5"
rich = ">=14.0.0"
scikit-learn = ">=1.6.1"
scipy = ">=1.13.1"
spherical-geometry = ">=1.3.2"
tqdm = ">=4.67.1"
polars = ">=1.27.1"
ipykernel = ">=6.29.5"
seaborn = ">=0.13.2"
papermill = ">=2.6.0"
python-gmsh = ">=4.13.1"
zarr = ">=3.0.0"
pydantic = ">=2.11.6"
pyarrow = ">=20.0.0"
cartopy = ">=0.25.0"
shapely = ">=2.1.1"

[feature.dev.dependencies]
pre-commit = "*"
ruff = "*"

[pypi-dependencies]
ismember = ">=1.0.4"
okada-wrapper = ">=24.6.15"
celeri = { path = ".", editable = true }
loguru = ">=0.7.2"

[feature.py311.dependencies]
python = "3.11.*"

[environments]
default = ["dev"]
py311 = ["py311"]
