# This file is used by the pixi environment manager <https://pixi.sh>.
# It is equivalent to the `environment.yml`. The environment can be activated
# with the command `pixi shell`.

[workspace]
name = "celeri"
platforms = ["linux-64", "osx-64", "osx-arm64", "win-64"]
channels = ["conda-forge", "numba"]

[tasks]
pixi-global-install-shim-hack = "python -m celeri.scripts.pixi_global_install_shim_hack"

[dependencies]
colorcet = ">=3.1.0"
compilers = ">=1.9.0"
cutde = ">=25.7.24"
cvxopt = ">=1.3.2"
cvxpy = ">=1.5.3"
dill = ">=0.4.0"
fortran-compiler = ">=1.9.0"
ghostscript = ">=10.4.0"
gmsh = ">=4.13.1,<5"
h5py = ">=3.13.0"
ipympl = ">=0.9.7"
jupyterlab = ">=4.4.0"
loguru = ">=0.7.2"
lxml = ">=5.3.2"
matplotlib = ">=3.9.4"
meshio = ">=5.3.5"
numpy = ">=2.3.5"
pandas = ">=2.2.3"
pip = ">=25.0.1"
pygmt = ">=0.11.0"
pyproj = ">=3.6.1"
pytest = ">=8.3.5"
rich = ">=14.0.0"
scikit-learn = ">=1.6.1"
scipy = ">=1.13.1"
spherical-geometry = ">=1.3.2"
tqdm = ">=4.67.1"
polars = ">=1.27.1"
ipykernel = ">=6.29.5"
seaborn = ">=0.13.2"
nutpie = ">=0.15.2"
pymc = ">=5.25.1"
numba = ">=0.61.2"
papermill = ">=2.6.0"
python-gmsh = ">=4.13.1"
zarr = ">=3.0.0"
pydantic = ">=2.11.6"
pyarrow = ">=20.0.0"
cartopy = ">=0.25.0"
shapely = ">=2.1.1"
opt_einsum = ">=3.4.0,<4"
pytest-arraydiff = ">=0.6.1,<0.7"

[target.linux-64.dependencies]
libblas = { version = "*", build = "*_mkl" }

[target.linux-64.pypi-dependencies]
jax = { version = ">=0.8, <0.9", extras = ["cuda12"] }
tfp-nightly = "*"

[target.osx-arm64.dependencies]
libblas = { version = "*", build = "*_newaccelerate" }

[feature.dev.dependencies]
pre-commit = "*"
ruff = "*"

[pypi-dependencies]
okada-wrapper = ">=24.6.15"
celeri = { path = ".", editable = true }

[environments]
default = ["dev"]

[system-requirements]
macos = "13.3"
