name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        pixi-environment: ["default"]
        tests-to-run: ["japan", "other", "optimize_sqp"]
    name: Test (${{ matrix.pixi-environment }}, ${{ matrix.tests-to-run }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
        with:
          cache: true
          environments: ${{ matrix.pixi-environment }}
          # The lockfile is allowed to be a lie
          locked: false
          # If the lockfile is a lie, then defer to pixi.toml as the source of truth
          # over the lockfile, and locally overwrite the lockfile accordingly.
          frozen: false
      - name: Test
        if: ${{ matrix.tests-to-run == 'other' }}
        run: |
          pixi run -e ${{ matrix.pixi-environment }} pytest ./tests/test_closure.py ./tests/test_okada_equals_cutde.py ./tests/test_optimize.py ./tests/test_serialize.py ./tests/test_output_files.py
      - name: Test
        if: ${{ matrix.tests-to-run == 'japan' }}
        run: |
          pixi run -e ${{ matrix.pixi-environment }} pytest ./tests/test_solve_dense.py --arraydiff
      - name: Test
        if: ${{ matrix.tests-to-run == 'optimize_sqp' }}
        run: |
          pixi run -e ${{ matrix.pixi-environment }} pytest ./tests/test_optimize_sqp.py
