name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        pixi-environment: ["default"]
        tests-to-run: ["solve", "optimize", "other"]
    name: Test (${{ matrix.pixi-environment }}, ${{ matrix.tests-to-run }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: prefix-dev/setup-pixi@a0af7a228712d6121d37aba47adf55c1332c9c2e # v0.9.4
        with:
          cache: true
          environments: ${{ matrix.pixi-environment }}
          # The lockfile is allowed to be a lie
          locked: false
          # If the lockfile is a lie, then defer to pixi.toml as the source of truth
          # over the lockfile, and locally overwrite the lockfile accordingly.
          frozen: false
      - name: Test
        if: ${{ matrix.tests-to-run == 'other' }}
        run: |
          pixi run -e ${{ matrix.pixi-environment }} pytest ./tests/ \
          --ignore=./tests/test_solve_dense.py \
          --ignore=./tests/test_optimize_sqp.py \
          --ignore=./tests/test_optimize.py \
          --ignore=./tests/test_cli.py
      - name: Test
        if: ${{ matrix.tests-to-run == 'solve' }}
        run: |
          pixi run -e ${{ matrix.pixi-environment }} pytest ./tests/test_solve_dense.py --arraydiff
      - name: Test
        if: ${{ matrix.tests-to-run == 'optimize' }}
        run: |
          pixi run -e ${{ matrix.pixi-environment }} pytest ./tests/test_optimize_sqp.py \
          ./tests/test_optimize.py
