name: Run `pixi update` to update dependencies
# Ref: <https://pixi.sh/dev/advanced/updates_github_actions/>

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:
  schedule:
  # At 7am UTC on the 22nd of every month
  - cron: 0 7 22 * *

jobs:
  pixi-update:
    runs-on: ubuntu-latest
    environment: create-pr
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up pixi
      uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
      with:
        run-install: false
    - name: Update lockfiles
      run: |
        set -o pipefail
        echo "This pull request relocks the pixi dependencies." >> diff.md
        echo "It is triggered by [update-pixi-lockfile](https://github.com/brendanjmeade/celeri/blob/main/.github/workflows/update-pixi-lockfile.yaml)." >> diff.md
        echo "" >> diff.md
        pixi update --json | pixi exec pixi-diff-to-markdown >> diff.md
    - name: Open a pull request
      uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
      id: create-pr
      with:
        # This PAT should have read-write permissions for "Pull Requests"
        # and read-write permissions for "Contents".
        token: ${{ secrets.GH_PAT_FOR_PR }}
        commit-message: Update pixi dependencies
        title: Update pixi dependencies
        body-path: diff.md
        branch: update-pixi-deps
        labels: update-pixi-deps
        delete-branch: true
        assignees: brendanjmeade
        committer: update-pixi-lockfile.yaml <nobody@example.com>
        author: update-pixi-lockfile.yaml <nobody@example.com>
        add-paths: pixi.lock
    - name: Ping @brendanjmeade
      # The above PAT runs under the context of a personal access token, and thus
      # doesn't generate notifications for the token's owner. We get around this by
      # instead using the default token to write a comment in the PR.
      # Ref: <https://stackoverflow.com/a/78238780>
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
      if: ${{ contains('created,updated', steps.create-pr.outputs.pull-request-operation) }}
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          github.rest.issues.createComment({
            issue_number: ${{ steps.create-pr.outputs.pull-request-number }},
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: 'ping @brendanjmeade'
          })
